<div class="wrapper">
    <div class="contact-form-section">
        <div class="info">
            <div class="badge-wrapper">
                <div class="badge">
                    <p>Contact Us</p>
                </div>
            </div>
            <p class="title">Get in touch</p>
            <p class="supporting-text">We invite you to learn more about our services, take a virtual tour of our
                facility, or inquire about admissions. <br><br>

                Please don't hesitate to reach out to us for more information or to schedule a visit.<br><br>

                At SAABOL, we welcome you with open hearts and open arms, ready to serve you and your loved ones on this
                meaningful journey of care and faith.
            </p>
            <div class="contact-info">
                <p class="address">Address: 100 N. Loudoun St. Suite 130 Winchester, VA 22601</p>
                <p class="phone-num">Phone Number: 540-627-5581</p>
                <p class="email">Email: info@saabol.com</p>
            </div>
        </div>
        <div class="form-wrapper">
            <div class="form">
                <form action="https://api.web3forms.com/submit" method="POST">
                    <input type="hidden" name="access_key" value="2c048616-ef60-4d32-9f11-ca26b5411993">
                    <input type="hidden" name="redirect" value="https://www.saabol.com/contact-us?submitted=true">
                    <div class="row">
                        <div class="mr-24">
                            <p>* First Name</p>
                            <input type="text" name="firstName" id="firstName" placeholder="First Name" required />
                        </div>
                        <div>
                            <p>* Last Name</p>
                            <input type="text" name="lastName" id="lastName" placeholder="Last Name" required />
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <p>* Email</p>
                            <input type="email" name="email" id="email" placeholder="Email" required />
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <p>Phone</p>
                            <input type="text" name="phone" id="phone" placeholder="+1 (555) 000-0000">
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <p>Additional comments</p>
                            <textarea name="additionalComments" id="additionalComments"
                                placeholder="Additional Comments"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
                        <button type="submit" class="primary">Contact Us</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>