$primary-header-color: #eddef8;
$banner-section-title-color: #00857d;
$banner-section-background-color: #def8f6;
$portal-white: #fff;
$portal-black-variation: #2a2a2a;
$portal-gray: #5d626f;
$portal-black: #000;
$portal-link-active: #652d90;
$portal-light-green: #def2f8;
$portal-green: #1e748a;
$portal-green-btn: #1e748a;
$portal-footer-color: #eddef8;
$portal-img-placeholder: #b4dae4;
$portal-supporting-text: #57277c;
$portal-white-variant: #f8f2fc;
$about-us-primary: #b4e4e2;
$contact-us-primary: #b4c2e4;
$contact-us-variation: #dee6f8;
$contact-us-text: #224187;
$contact-us-form-black: #191b1f;
